.gameBox {

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    .btn {
      padding: 3px 15px;
      border-radius: 3px;
      color: #fff;
      font-weight: 700;
      background: var(--color-primary);
      cursor: pointer;
    }

  }
  .cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-size: 20px;
    line-height: 1;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    &.clear {
      opacity: 0;
      transition: all 0.4s;
    }
  }

}