.gameBox {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  .gameZone {
    position: relative;
    width: 500px;
    height: 550px;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    overflow: hidden;
    .inner {
      position: absolute;
      bottom: 0;
      left: calc(50% - 50px);
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      gap: 15px;
      padding-bottom: 10px;
    }

    .key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 3px solid #333;
      border-radius: 5px;
      font-size: 16px;
      opacity: 0.8;
      &.current {
        width: 100px;
        height:100px;
        font-size: 25px;
        opacity: 1;
      }
      &.shake {
        animation: shake 0.2s;
      }
    }

    .combo {
      position: absolute;
      top: 150px;
      left: calc(50% - 200px);
      z-index: 10;
      width: 400px;
      font-size: 55px;
      font-weight: 700;
      color: var(--color-primary);
      text-align: center;
      text-shadow: 1px -1px 7px #fff;
    }
  }
}
@keyframes shake {
  0% {transform: translateX(0px);}
  10% {transform: translateX(3px);}
  30% {transform: translateX(-3px);}
  50% {transform: translateX(3px);}
  70% {transform: translateX(-3px);}
  90% {transform: translateX(3px);}
  100% {transform: translateX(0px);}
}