.ground {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  .gridBox {
    display: flex;
    flex-wrap: wrap;
    .grid {
      width:31px;
      height: 31px;
      margin-top: -1px;
      margin-left: -1px;
      border: 1px solid #92ce4c;
      background: #f3ffe9;
      // box-shadow: inset 1px 1px 2px rgba(0,0,0,0.15);
      font-size:12px;
      color: #999;
    }
  }
  .lemon {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ff9d02;
  }
  .snake {
    &.Up .pice .head {
      transform: rotate(270deg);
    }
    &.Down .pice .head {
      transform: rotate(90deg);
    }

    &.Left .pice .head {
      transform: rotate(180deg);
    }

    &.Right .pice .head {
      transform: rotate(360deg);
    }
    .pice {
      position: absolute;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      z-index: 5;
      span {
        display:block;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        background: radial-gradient(circle at 25% 25%, #4ee058 20%, transparent 21%, transparent 100%), radial-gradient(circle at 75% 75%, #4ee058 15%, transparent 16%);
        background-size: 1em 1em;
        background-color: #09b916;
        opacity: 1;
        &.head {
          border-radius: 7px 15px 15px 7px;
          transition: all 0.3s 0.3s;
          &::before,
          &::after {
            position: absolute;
            right: 8px;
            width: 7px;
            height: 4px;
            border-radius: 3px;
            background-color: #111;
            content: '';
          }
          &::before {
            top: 7px;
          }
          &::after {
            bottom: 7px;
          }
          i {
            position: absolute;
            left: 100%;
            top: calc(50% - 2px);
            width: 7px;
            height: 5px;
            background: red;
          }
        }
      }
    }

  }
}